* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./assets/gingerrr.png) ;
    background-size: cover;
    
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: white;
}